name: CI

on:
  push:
    tags: '*'
    branches:
      - main
      - 'test-me-*'
  pull_request:

env:
  TERM: xterm-256color

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        features:
          - ""
          - mmap
    runs-on: ubuntu-24.04
    env:
      TEST_FEATURES: "${{ matrix.features }}"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install Rust nightly toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-12-20
          components: miri
      - name: Install `cargo-insta`
        run: |
          curl -LsSf https://insta.rs/install.sh | sh
      - name: test
        run: |
          set -x

          # ignore unreferenced snapshots here because miri snapshots would be
          # rejected here
          cargo insta test \
            --features=${{ matrix.features }} \
            --unreferenced=ignore \
            -- \
            --color=always \
            --include-ignored
      - name: miri tests
        run: |
          set -x

          MIRIFLAGS=-Zmiri-deterministic-floats cargo miri test \
            --lib \
            --features=${{ matrix.features }}

          cargo insta test \
            --features=miri_tests,${{ matrix.features }} \
            --unreferenced=reject \
            -- \
            --color=always \
            --include-ignored
